@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;800&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color: linear-gradient(90deg, #ffdeb4, #ff8a71, #f7676b);
}

:root {
  --primaryColor: #282a57;
  --secondaryColor: #e4e4e4;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.parallax-outer {
  overflow: hidden;
}

.parallax {
  height: 110vh;
  width: 100%;
  position: relative;
}

.parallax img {
  position: absolute;
}

.mountain3,
.mountain2,
.mountain1 {
  width: 100%;
  bottom: 0;
  z-index: 3;
}

.mountain2 {
  bottom: 20px;
  z-index: 2;
}

.mountain1 {
  bottom: 40px;
  z-index: 1;
}

.sun {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 100%; /* Чтобы не выходило за пределы ширины контейнера */
    overflow: hidden;

}

.cloudsLeft {
  left: 0;
  width: 20%;
}

.cloudsRight {
  right: 0;
  width: 20%;
}

.cloudsBottom {
  bottom: 0px;
  width: 100%;
}

.stars {
  top: -550px;
  left: 0;
  width: 100%;
}

.copy {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.copy h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondaryColor);
    font-weight: 1000;
    font-size: 10rem;

}

.copy span {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 1rem;
  font-weight: 800;
  border-radius: 0.5rem;
  opacity: 0;
}

.navbarContainer {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    color: var(--secondaryColor);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }

.logo{
    cursor: pointer;
}

.link {
    padding-right: 20px;
    cursor: pointer;
  }